* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: #4e5968;
}

h4 {
  font-size: 16px;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  background-color: #f0f3f5;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14px;
  color: #5c5c5c;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.post, img {
  transition: .4s;
}

.post article {
  border: 1px solid #d1d7dc;
  box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  height: 100%;
}

.page figure {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.post__media {
  padding: 15px;
}

.post__content {
  padding: 15px 30px 30px;
}

.figure {
  text-align: center;
}

.figure-link {
  border-radius: 4px;
  overflow: hidden;
}

.figure-link img {
  max-width: 100%;
  /*height: auto;*/
  width: 100%;
}

.figure__shade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease;
  background-color: transparent;
  border-radius: 5px;
}

.figure-link:hover .figure__shade {
  background-color: rgba(0, 0, 0, 0.4);
}

.figure__icon {
  position: absolute;
  bottom: -50%;
  left: 50%;
  font-size: 48px;
  margin-bottom: -24px;
  margin-left: -24px;
  transition: all 0.4s ease;
  color: #fff;
}

.figure-link:hover .figure__icon {
  bottom: 50%;
}

.post__content {
  color: #5c5c5c;
  font-weight: 400;
}

.post-title {
  margin-bottom: 10px;
}

.post-title a {
  font-weight: 600;
  color: #2c2d2f;
  font-size: 18px;
  line-height: 28px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  text-decoration: none;
}

.post-title a:hover {
  border-color: #2c2d2f;
}

.read-more-link {
  margin-top: 15px;
}

.read-more-link a {
  display: inline-block;
  color: #428bca;
  background-color: #f4f9fc;
  border-bottom: 1px solid #55aded;
  padding: 3px 4px 1px 4px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.1s ease;
}

.read-more-link a:hover {
  border-bottom: 1px solid #1287cc;
  background-color: #fff;
  color: #428bca;
}

.post__content a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 800px) {

  .wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(8rem + 5vw + 5vh), 1fr));
    grid-gap: 2.5vmin;
    padding: 2.5vmin;
    grid-auto-flow: dense;
  }

  .post:first-child {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }

  .post:nth-child(2n+4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }

  .post:nth-child(4n+5) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .post:nth-child(6n) {
    grid-row-start: span 1;
  }

  .post:nth-child(6n+8) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .post:nth-child(8n+9) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .post:nth-child(8n+10) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
  }

  .post>.figure-link, .post figure {
    height: 100%;
  }

  .post {
    counter-increment: numImg;
  }

  .post::after {
    background: #f0f3f5;
    content: counter(numImg);
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: #000;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #d1d7dc;
  }
}
